@model List<Doctor>

<h1>Doctores Especialidad IoC</h1>

<form method="post">
    <label>Especialidad</label>
    <input type="text" name="especialidad" class="form-control" required/>
    <button class="btn btn-warning">
        Buscar doctores
    </button>
</form>
<h2 style="color:red">@ViewData["MENSAJE"]</h2>
@if (Model != null)
{
    <table class="table table-bordered table-primary">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Especialidad</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Doctor doc in Model)
            {
                <tr>
                    <td>@doc.Apellido</td>
                    <td>@doc.Especialidad</td>
                    <td>@doc.Salario</td>
                </tr>
            }
        </tbody>
    </table>
}